
/*splash*/

/*
.inicio{
    position: left;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/granfondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    }
*/

/*
    .logo-header{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-5%);
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
*/

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;

}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;

}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;

}

.links{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* imagen scroll */
html, body{
    margin: 0;
    padding: 0;
    background-image: url(../IMG/granfondo.png);
}
.main{
    background-image: URL('../IMG/granfondo1.png');
    background-repeat: no-repeat;
    background-size: cover;
overflow: hidden;
height: 100vh;
/*border: 1px solid white;*/
}


.footer{
    text-align: center;
    color: #fff;
    height: 20vh;
    background-color: black;
}

.main .title{
    /*border: 5px solid #fff;
    width: 300px;
    height: 50px;
    text-align: center;
    color: #fff;*/
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -150px;
    margin-top: -25px;
}

b{
    font-size:xx-large
}
